# {{ note['header'] }}
{% if note['comment'] -%}
## Comment: {{ note['comment']}}
{% endif -%}
{% if note['tags'] -%}
## Tags: {{ note['tags']|join(' ') }}
{% endif -%}
{% if note['urls'] -%}
## URLs: {{ note['urls']|join(' ') }}
{% endif -%}
{% if note['due'] -%}
## Due: {{ note['due'] }}
{% endif -%}
------------------------------
{% if note['content'] -%}

{{ note['content'] }}
{%- endif %}
